body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  font-size: 14.4px;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.flex {
  display: flex;
  flex-direction: column;
}
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  height: $navHeight;

  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  &.triggered {
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }
  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__li {
    margin-left: 20px;
    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }
  & .logo {
    font-size: 38px;
    justify-content: center;
    align-items: center;
  }
  &__inner {
    display: flex;
    text-align: center;
    justify-content: space-between;
    @extend .content-width;
  }
}
.nav {
  font-size: 14px;
  @extend .mb-sm;
  position: fixed;
  background-color:  rgb(18, 18, 18);
  height: 100vh;
  width: 300px;
  z-index: 300;
  transition: all 0.5s;
  top: 0;
  left: -300px;
  &__menu{
    &__ul{
      position: relative;
      margin-top:20px;
      margin-bottom: 70px;
    }
    &__li{
      padding-bottom: 25px;
      border-bottom: 1px solid $cWhite;
      &:first-child{
        padding-top:25px;
        border-top: 1px solid $cWhite;
        
      }
    }
  }
  &__menu,
  &__sns {
    &__ul {
      position: relative;
      list-style: none;
      // background-color:pink;
      padding-left: 0;
      margin-right: 30px;
      margin-left: 30px;
    }
    &__li {
      margin-bottom: 16px;
      a{
        color: $cWhite;
        text-decoration: none;
      }
    }
  }
}

#video {
  margin-top: $navHeight;
}

.section-title {
  text-align: center;
}

.swiper {
  display: block;
  width: 100%;
  height: 300px;
  &-slide {
    padding: 0 30px;
  }
}

#feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: 0px auto 10px auto;
  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .item {
      transition: all 0.3s ease;
      box-shadow: 0 0 8px 4px #ccc;
      &__content {
        padding: 30px;
      }
      &__category {
        font-size: 0.75rem;
        margin-bottom: 20px;
      }
      &__text {
        font-weight: bold;
        margin-bottom: 20px;
      }
      &__date {
        font-size: 0.75rem;
        text-align: right;
      }
    }

    img {
      vertical-align: top;
    }
  }
}
.contact {
  margin-top: 90px;
  background-color: $cBlack;
  color: $cWhite;
  &__title{
    padding-top:80px;
    padding-bottom: 20px;

  }
  &__inner {
    @extend .content-width;
    @extend .flex;
  }
  &__copy{
    @extend .content-width;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
  }
  &__description1{
    margin-bottom: 20px;
  }
  &__description2{
    margin-bottom: 30px;
  }
  &__form {
    form {
      input,
      textarea {
        width: 100%;
      }
    }
    label{
      margin: 20px 0 0;
    }
    .button {
      width: 100%;
      padding: 10px;
      border: 0;
      cursor: pointer;
      background-color:$cBlack;
      border: 1px solid $cWhite;
      transition: all 0.3s;
      color: inherit;
      margin-bottom: 90px;
      input {
        color: inherit;
        background-color: inherit;
        padding:12px auto;
        border:none;
      }
      &:hover {
        color: $cBlack;
        background-color: $cWhite;
      }
    }
  }
}
